{% extends 'log_base.html' %}
{% block container %}
    <div class="container">
      <form class="form-signin" action="register_acc" method="post">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name = 'userName' type="text" id="inputEmail" class="form-control" placeholder="userName" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name = 'passWord' type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <input type="text" id="" class="form-control" placeholder="Name" required="" name="myname">
          {{ erro }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>
    </div>
{% endblock %}